@font-face {
  font-family: OmnesReg;
  src: url("fonts/omnes-regular.otf") format("opentype");
}

@font-face {
  font-family: OmnesBold;
  src: url("fonts/omnes-medium.otf") format("opentype");
}

@font-face {
  font-family: OmnesLight;
  src: url("fonts/omnes-light.otf") format("opentype");
}

.App {
  color: #fff;
  background-color: #141414;
  font-family: OmnesLight, sans-serif;
  user-select: none;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header {
  font-size: 4rem;
}

.large-contents {
  width: 65%;
}

.small-contents {
  width: 30rem;
}

.contents {
  font-size: 1rem;
  line-height: 1.75rem;
}

.buttons {
  display: flex;
}

.panels {
  display: flex;
  justify-content: space-around;
}

.panel {
  margin: 1rem;
}

.team-image {
  width: 100%;
}

.table {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.column {
  padding: 1rem 2rem;
  border: 1px solid #fff;
}